# HTTP 连接配置
ok:
  http:
    connect-timeout: 30
    keep-alive-duration: 300
    max-idle-connections: 200
    read-timeout: 30
    write-timeout: 30

# 腾讯云账号相关的信息配置
tencent:
  sms:
    account:
      secret-id:
      secret-key:
      sign_name:
      sms-sdk-app-id:
      template-id:


# 数据库相关的信息配置
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/unified_msg?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&autoReconnect=true
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
